<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thanks for contacting us, <%= @user.name %>!</h3><br>
    <p>Someone from our team will reach out to you shortly!  God Bless!<br><br>
   	- IM New Comers Team</p>
  </body>
</html>