<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for contacting us, <%= @user.name %>!</h1>
    <p>Someone from our team will reach out to you shortly!  God Bless!</p>
  </body>
</html>