<html>
<head>
	<title>NFC IM+ | All Nations for Christ</title>

  <script src="jquery.js"></script>
  <script src="scripts.js"></script>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <link rel="stylesheet" media="all" href="style.css" />
  <link rel="stylesheet" media="all" href="animate.css" />
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

</head>

<link rel="stylesheet" href="animate.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Belleza" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Allura" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

<link rel="shortcut icon" href='http://i1301.photobucket.com/albums/ag119/jabattack1/logo2_zpsln58ekfk.png'>

<body id='main'>
	


<div id='content'>	
<div id='home' onClick="homey1();return false;">
</div>
	<img src='<%= asset_path( 'logo2.png' ) %>' id='home_logo' ></img>
	<div class="webCircle">W</div>
	<div class="fbCircle">F</div>
	<div class="mailCircle">E</div>
	<a id='link_nfc' href="http://www.nfcimplus.com" target="_blank">www.nfcimplus.com</a>
	<a id='link_fb' href="https://www.facebook.com/nfcimplus" target="_blank">facebook.com/nfcimplus</a>
	<a id='link_email'  href="mailto:hello@nfcimplus.com">hello@nfcimplus.com</a>
</div>

<div id='rights'>© 2015 NFC IM+</div><div id='relation'>In partnership with New Frontier Church</div>

 <script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('main').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
    </script>
</body>
</html>